<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Cadastro</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema de Cadastro de Cursos e Alunos</h1>
    <nav>
        <ul>
            <li><a href="/cursos">Gerenciar Cursos</a></li>
            <li><a href="/alunos">Gerenciar Alunos</a></li>
        </ul>
    </nav>
</body>
</html>
